<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% include title.html %}</title>
    {% include google_analytics.html %}

    <link rel="icon" href="{{ "/assets/img/favicon.ico" | relative_url}}">

    {% include essential.html type="css" %}

    <!-- Main Style -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url}}">

    {% include essential.html type="js" %}
</head>
