<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
<body>
    <div id="wrapper">
        {% include header.html %}
        <div id="main" class="container pt-3">
            {{ content }}
        </div>
        {% include footer.html %}
        
        {% include dependency.html %}

        {% include sketch_scripts.html %}

        <script type="text/javascript" src="{{ "/assets/js/utils.js" | relative_url}}"></script>
    </div>
</body>

</html>
